:root {
	--fontA: 'Sarina', cursive; /* font-family: var(--fontA); */
	--fontB: 'spinnaker', arial; /* font-family: var(--fontB); */
	--colorA:  #f1e9e2; /* background-color: var(--colorA); */
	--colorB: #3f403f;  /* background-color: var(--colorB); */
}


/* * {
	border: 10px solid black;
} */

.top-pic {
	padding: 0 !important;	
}

.top-pic img{
	position: absolute;	
	max-width: 100%		
}

.this-nav a:visited {
	color: white;
	background-color: var(--colorB) !important;
}

.this-nav a:hover {
	color: white;
	background-color: black !important;
}

.in {
	background-color: var(--colorB);
	transition: background-color .4s;
}

nav .glyphicon {
	color: white;
}

.navbar-brand {
	max-height: 75px;
	padding: 0;
	opacity: 0;
}

.scroll-nav .navbar-brand {
	opacity: 1;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-ms-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
}
nav a {
	color: white;
	font-family: var(--fontB)	
}

.scroll-nav {
	border-bottom: 1px solid black !important;
	background-color: var(--colorB);
	-webkit-transition: background-color 2s;
	-moz-transition: background-color 2s;
	-ms-transition: background-color 2s;
	-o-transition: background-color 2s;
	transition: background-color 2s;	
}

.lynneFo {
	position: relative;
	color:black;
}

header {
	margin-left:50px;	
}

header h1 {
	font-family: var(--fontA);
	font-size: 70px;	
	/* text-align: center;	 */
	margin: 0;	
}

header p {
	font-family: var(--fontB);
	font-size: 20px;	
	/* text-align: center; */
	margin: 0;	
}

.tagline {
	font-size: 30px;
}

/* .degree {
	font-size: 20px;
} */

.logo {
	position: relative;
	/* z-index: 1;	 */
}

.social {	
	position: relative;
	text-align: right;
	margin-right: 20px;
}

.social a {
	position: relative;
	z-index: 2;
}

.social img {
	position: relative;
	max-height: 50px;	
}

.social img:hover {
	top: -7px;
}

.social-jump {
	top: -10px;	
}

.purple {
	position: relative;
	background-color: var(--colorA);
}

.skills-div h2{
	font-family: var(--fontA)
}

.projects-container div {
	text-align: center;		
}

.projects-container h3 {
	font-family: var(--fontB);
	margin-bottom: 15px;
	color: black;
}

.projects-container a:hover {
	text-decoration: none;
}

.project-img {
	width: 100%;
	max-width: 250px;
	border-radius: 15px;	
}

.project-img:hover {
	transform: scale(1.1);
}

.projects-container p {
	font-size: 16px;
	font-family: arial;
	margin-top: 15px;
	text-align: justify;
	max-width: 290px;
	margin-right: auto;
	margin-left: auto;
}

.about-div {
	padding-bottom: 20px;
}

.about-div img {
	max-width: 100%;	
}

.about-container a:hover {
	text-decoration: none;
}
.about-container h1 {
	font-family: var(--fontA);
	font-size: 50px;
	text-align: center;
	padding-top: 20px;
	color: black;
}
.about-container p {
	font-family: var(--fontB);
	font-size: 16px;
	line-height: 2;	
	padding: 10px;
	margin-bottom: 0;
}

.about-email {
	text-align: center;	
}

@media(max-width: 800px) {

	header h1 {
		font-size: 65px;
	}
	.social img {
		max-height: 40px;
	}
	.logo img{
		max-width: 80px;	
	}	
}

@media(max-width: 520px) {
	header h1 {
		font-size: 60px;
	}
	header p {
		font-size: 20px;
	}
	.social img {
		max-height: 40px;
	}
	.logo img {
		max-width: 80px;	
	}
}

@media(max-width: 350px) {
	header h1 {
		font-size: 40px;
	}
	header p {
		font-size: 15px;
	}
	.social {
		margin-right: 5px;
	}
	.social img {
		max-height: 22px;
	}
	.social img:hover {
	top: -4px;
}
	.projects-container h3 {
		font-size: 20px;
		margin-bottom: 8px;	
	}
	.projects-container p {
		font-size: 14px;
		margin-top: 8px;	
	}
}

