:root {
	--fontA: 'Sarina', cursive; /* font-family: var(--fontA); */
	--fontB: 'spinnaker', arial; /* font-family: var(--fontB); */
	--colorA: rgb(232,222,212); /* background-color: var(--colorA); #f6f1e9 */
	--colorB: rgb(110,114,117);  /* background-color: var(--colorB); */
	--colorC: rgb(191,191,193);  /* background-color: var(--colorC); */
	--colorD: #e7e5e6;  /* background-color: var(--colorD); */
}

/* * {
	border: 10px solid black;
} */

.top-pic {
	padding: 0 !important;	
}

.top-pic img{
	position: absolute;	
	max-width: 100%		
}

.this-nav a{
	color:black;
	font-family: var(--fontB);
	text-shadow: none !important;
}

.this-nav a:visited {	
	background-color: var(--colorC) !important;
}

.this-nav a:hover {	
	background-color: var(--colorA) !important;
}

.in {
	background-color: var(--colorC);
	transition: background-color .4s;
}

.navbar-brand {
	max-height: 75px;
	padding: 0;
	opacity: 0;
}

.scroll-nav .navbar-brand {
	opacity: 1;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-ms-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
}
.scroll-nav {
	border-bottom: none; 
	background-color: var(--colorC);
	-webkit-transition: background-color 2s;
	-moz-transition: background-color 2s;
	-ms-transition: background-color 2s;
	-o-transition: background-color 2s;
	transition: background-color 2s;	
}

.lynneFo {
	position: relative;
	color:black;
}

header {
	margin-left:50px;	
}

header h1 {
	font-family: var(--fontA);
	font-size: 70px;	
	/* text-align: center;	 */
	margin: 0;	
}

header p {
	font-family: var(--fontB);
	font-size: 20px;	
	/* text-align: center; */
	margin: 0;	
}

.tagline {
	font-size: 30px;
}

/* .degree {
	font-size: 20px;
} */

.logo {
	position: relative;
}

.social {	
	position: relative;
	text-align: right;
	margin-right: 20px;
}

.social a {
	position: relative;
	z-index: 2;
}

.social img {
	position: relative;
	max-height: 50px;	
}

.social img:hover {
	top: -7px;
}

.social-jump {
	top: -10px;	
}

.purple {
	position: relative;
	background-color: white;
}

.purple h1 {
	font-family: var(--fontB);
	font-size: 30px;
	color: black;
}

.purple p {
	font-family: var(--fontB);
	font-size: 16px;
	line-height: 2;	
}

.white-space {
	border-top: 40px solid white;	
}

.skills-container {
	border-left: 30px solid var(--colorB);
	background-color: var(--colorA);	
}

.skills-container .row {
	background-color: var(--colorC);
}

.skills-container div {	
	font-family: var(--fontB);
}

.skills-container h4 {
	font-weight: bold;
}

.projects-container {
	background-color: var(--colorD);
}
.projects-container h1 {
	border-top: 2px solid black;
}

.projects-container div {
	text-align: center;	
	font-family: var(--fontB);	
}

.projects-container h3 {
	font-family: var(--fontB);
	margin-bottom: 10px;
	color: black;	
}

.projects-container a:hover {
	text-decoration: none;
}

.project-img {
	width: 100%;
	max-width: 220px;
	margin-top: 15px;
	/* border-radius: 15px;	 */
}

.project-img:hover {
	transform: scale(1.1);
}

.projects-container p {
	margin-top: 10px;
	text-align: left;
	/* max-width: 310px; */
	margin-right: auto;
	margin-left: auto;
	border-top: 1px solid black;
}

.bottom-border {
	border-top: 2px solid black;
	margin-bottom: 20px;
}

.about-div img {
	max-width: 100%;	
}

.about-container {
	background-color: var(--colorA);
	padding: 0;
}

.about-container div {
	padding-left: 30px;
	padding-right: 30px;
}

.about-container a:hover {
	text-decoration: none;
}

.about-container p {
	padding: 10px;	
}

.about-email {
	text-align: center;	
}

@media(max-width: 1030px) {
	.lynneFo {
		margin-top: -50px;
	}
	header h1 {
		font-size: 55px;
	}
	.tagline {
		font-size: 22px;
	}
	header p {
		font-size: 16px;
	}
	.social img {
		max-height: 40px;
	}	
}

@media(max-width: 800px) {
	header {
		margin-left: 5px;
	}	
	header h1 {
		font-size: 40px;
	}
	.tagline {
		font-size: 18px;
	}
	header p {
		font-size: 13px;
	}
	.social img {
		max-height: 30px;
	}		
}

@media(max-width: 520px) {	
	header h1 {
		font-size: 35px;
	}
	.tagline {
		font-size: 15px;
	}
	header p {
		font-size: 13px;
	}
	.social img {
		max-height: 30px;
	}	
}

@media(max-width: 350px) {
	header {
		margin-left: 10px;
	}
	header h1 {
		font-size: 25px;
	}
	.tagline {
		font-size: 12px;
	}
	header p {
		font-size: 10px;
	}
	.social {
		margin-right: 5px;
	}
	.social img {
		max-height: 22px;
	}
	.social img:hover {
	top: -4px;
	}
	.projects-container h3 {
		font-size: 20px;
		margin-bottom: 8px;	
	}
	.projects-container p {
		font-size: 14px;
		margin-top: 8px;	
	}
}

